*{
  font-family: Montserrat;
}
body{
  background-color: #34acf3!important;
}
.jul-photo{
  width:200px;
  height:200px;
  border:solid #34acf3;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #34acf3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiAvatar-colorDefault{
  background: transparent!important;
}